<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>
    <!--pickers css-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-datepicker/css/datepicker-custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-timepicker/css/timepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-colorpicker/css/colorpicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-daterangepicker/daterangepicker-bs3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-datetimepicker/css/datetimepicker-custom.css}" />

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <!--dynamic table-->
    <link th:href="@{/js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{/js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}"/>
    <!--file upload-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-fileupload.min.css}" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>

    <div th:replace="common :: #leftmenu"></div>
    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu">

        </div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Forms Layouts
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Forms</a>
                </li>
                <li class="active"> Forms Layouts </li>
            </ul>
        </div>
        <!-- page heading end-->
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    日志填报
                </header>
                <div class="panel-body">
                    <form  class="form-horizontal bucket-form" th:action="@{'/dayWork/insertwork/'+${session.loginInfo.empId}+'/'+${session.loginInfo.empPosition}}" method="post" >
                        <table>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2">填报时间</label>
                                <div class="col-lg-10">
                                    <div class="col-md-4 col-xs-11">
                                        <input class="form-control form-control-inline input-medium default-date-picker" name="dayData" type="text"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">日志内容</label>
                                <div class="col-sm-10" >
                                    <textarea rows="10" class="form-control" name="dayMiaoshu" id="dayMiaoshu" type="text"></textarea>
                                </div>
                            </div>
                        </table>
                        <input type="hidden" name="empPosition" th:value="${session.loginInfo.empPosition}"/>
                        <input type="hidden" name="empID" th:value="${session.loginInfo.empId}"/>
                        <div id="submit1" style="text-align:center"><button @click="add" class="btn btn-success" type="submit">保存</button></div>
                    </form>
                    <a th:href="@{'/dayWork/showDayWork/'+${session.loginInfo.empPosition}+'/'+${session.loginInfo.empId}+'/1'}">返回列表</a>

                </div>
            </section>
        </section>


        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<!--pickers plugins-->
<script type="text/javascript" src="/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="/js/pickers-init.js"></script>
<!--file upload-->
<script type="text/javascript" src="/js/bootstrap-fileupload.min.js"></script>
<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<!--vue.js-->
<script src="/js/vue.js"></script>
<script src="/js/daywork.js"></script>

</body>
</html>
