<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <!--dynamic table-->
    <link th:href="@{/js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{/js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}"/>

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>

    <div th:replace="common :: #leftmenu"></div>
    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu">

        </div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Forms Layouts
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Forms</a>
                </li>
                <li class="active"> Forms Layouts </li>
            </ul>
        </div>
        <!-- page heading end-->
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    日志详情
                </header>
                <div class="panel-body">
                    <a th:href="@{'/daywork/editDayWork/'+${dayWork.dayId}}" style="float:right;padding-bottom:2px"><button class="btn btn-success" type="button">编辑</button></a>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal bucket-form">
                        <table>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2">填报时间</label>
                                <div class="col-lg-10">
                                    <label th:text="${dayWork.dayData}" class="form-control" ></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2">奏折内容</label>
                                <div class="col-lg-10">
                                    <label th:text="${dayWork.dayMiaoshu}" class="form-control" />
                                </div>
                            </div>
                        </table>
                        <input type="hidden" name="memorialsId" th:value="${dayWork.dayId}"/>
                        <input type="hidden" name="empPosition" th:value="${session.loginInfo.empPosition}"/>
                    </form>
                    <a th:href="@{'/dayWork/showDayWork/'+${session.loginInfo.empPosition}+'/'+${session.loginInfo.empId}+'/1'}">返回列表</a>

                </div>
            </section>
        </section>


        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

</body>
</html>
